:root {
  --primary-color: #f2f2f2;
  --secondary-color: #0400df;
  --tertiary-color: #0d0d0d;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  font-family: britti-sans-variable, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "BrittiSansVar-Extralight", Helvetica, sans-serif;
}

@font-face {
  font-family: "BrittiSansVar-Extralight";
  src: url("/assets/britti-sans-variable.eot");
  src: url("/assets/britti-sans-variable.eot") format("embedded-opentype"),
    url("/assets/britti-sans-variable.woff2") format("woff2"),
    url("/assets/britti-sans-variable.woff") format("woff"),
    url("/assets/britti-sans-variable.ttf") format("truetype"),
    url("/assets/britti-sans-variable.svg") format("svg");
  font-weight: 100 1000;
  font-style: normal;
}

/* ------------------- NAV ------------------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8rem;
}

/*
.circle-one,
.circle-two {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  border: #0d0d0d 2px solid;
}
*/

.flex-parent {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items to the start of the container */
  height: auto;
  padding-top: 3rem; /* 2rem space from the top */
  padding-bottom: 3rem;
}

.flex-child {
  width: 3.5rem; /* Set the width of the logo to 2rem */
  height: auto; /* Maintain the aspect ratio of the logo */
}

/* ------------------- HERO ------------------- */

.hero-parent-one,
.hero-parent-two,
.hero-parent-three,
.hero-parent-four,
.hero-parent-five {
  margin: 0 8rem;
  font-size: 14rem;
  align-items: center;
  letter-spacing: 1.8rem;
  font-weight: 1000;
}

.hero-parent-one {
  display: flex;
  justify-content: space-between;
}

.hero-parent-two {
  display: flex;
  justify-content: space-between;
}

.hero-parent-three {
  display: flex;
  justify-content: space-between;
}

.hero-parent-four {
  display: flex;
  justify-content: space-between;
}

.hero-parent-five {
  display: flex;
  justify-content: space-between;
}

/* ------------------- MOBILE ------------------- */

@media (max-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.6rem;
  }
  .flex-parent {
    padding-top: 3rem; /* 2rem space from the top */
  }

  .flex-child {
    width: 3.5rem; /* Set the width of the logo to 2rem */
  }

  .hero-parent-one,
  .hero-parent-two,
  .hero-parent-three,
  .hero-parent-four,
  .hero-parent-five {
    margin: 0 1.6rem;
    font-size: 4.8rem;
    font-weight: 1000;
    padding-bottom: 1.5rem;
    letter-spacing: normal;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.8rem 1.6rem;
  }
  /* inspired form gumroad website */
  .button {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    width: 100%;
    color: var(--primary-color);
    cursor: pointer;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    padding: 0.8em 2em;
    background: var(--tertiary-color);
    transition: 0.2s;
    font-family: "BrittiSansVar-Extralight", Helvetica, sans-serif;
    font-weight: 475;
    font-size: 1.6rem;
  }

  .button:hover {
    color: var(--tertiary-color);
    transform: translate(0, -0.25rem);
    background: #ff90e8;
    box-shadow: 0 0.25rem var(--tertiary-color);
    border: 2px solid var(--tertiary-color);
  }

  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

  .txt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6rem 1.6rem 3.5rem 1.6rem;
    font-size: 1.7rem;
    letter-spacing: 0;
    font-weight: 475;
    line-height: 2rem;
  }
}

@media (min-width: 601px) {
  button {
    display: none;
  }
  .txt-container {
    display: none;
  }
}
